/* html5 + CSS 3 Template created by madam monorom  http://intensivstation.ch 2017 */

@import url("../font-awesome/css/font-awesome.css");

:root {
    --nav-color: rgba(86,75,71, 0.7);
    --footer-color: rgba(86,75,71, 0.7);
    --font-size-factor: 1;
}

body {
	background-color: #ccc;
	font-size: 1em;
	font-family: Arial, SunSans-Regular, Sans-Serif;
	color: #564b47;
	padding:0;
	margin:0;
}
a,
a:visited {
	color: #999;
	text-decoration: none;
}
a:hover {
	color: #ccc;
}
a:active {
	color: #000000;
}
h1, h2, h3, h4 {
	font-weight: normal;
	margin: 0 0 10px;
}

h1 {
    font-size: calc( var(--font-size-factor) * 2em);
}

h3 {
    font-size: calc(var(--font-size-factor) * 1.17em);
}

/* ----------header for logo-------------- */

header {
	padding: 20px;
}
header p {
	text-transform: uppercase;
	font-size: 12px;
}
header img {
	padding: 5px 5px 5px 0;
    height: 35px;
    vertical-align: bottom;
    color: #999;
}

/* -------------- navigavtion------------- */

nav {
    background: var(--nav-color);
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav a {
	display: block;
	color: #fff;
	padding: 10px 20px 10px 30px;
}
nav a:visited {
	color: #fff;
}
nav a:hover {
	background: #f56;
    color: #fff;
}

nav li {
    position: relative;
}

nav li:before {
    position: absolute;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1.3em;
    left: 5px;
    top: 10px;
    margin-left: auto;
    margin-right: auto;
}

nav li:nth-child(1):before {
    content: '\f015';
}

nav li:nth-child(2):before {
    content: '\f135';
}

nav li:nth-child(3):before {
    content: '\f129';
}

nav li:hover:after {
    position: absolute;
    right: 10px;
    top: 10px;
    font-family: FontAwesome;
    font-size: 1.5em;
    content: '\f105';
}

/* ----------------- content--------------------- */

#content {
	padding: 50px 20px;
	background-color: #fff;
}
p {
	padding: 0 0 20px;
	line-height: 1.8em;
}
ul {
	line-height: 1.8em;
    padding: 0 0 0 20px;
}

.col {
    padding: 10px;
}

.col:nth-child(2n+1) {
    border: 1px solid gray;
}

.col:nth-child(2n) {
    border: 1px solid red;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-right: -10px;
}

.col {
    box-sizing: border-box;
    margin: 0 10px 10px 0;
    flex-grow: 1;
}


/* -------------- side infos ------------- */

aside {
	padding: 20px;
    background: rgba(155,155,155, 0.2);
}

/* -----------footer--------------------------- */

footer {
	padding: 20px;
    background: var(--footer-color);
	color: #fff;
}
footer a {
	color: #999;
	text-decoration: none;
}

/* --- media queries --- */

@media screen and (min-width : 601px) {
    :root {
        --font-size-factor: 1.2;
    }
    body {
        background: rgba(240, 248, 255, 1);
    }
    .col:hover {
        background: linear-gradient(rgba(240, 248, 255, 0.5), rgba(255,255,255,0.5) );
    }
    .col {
      width: calc(100% / 2 - 10px);
    }
    nav ul {
        display: flex;
    }
    nav ul li {
        min-width: 10em;
    }
    
    nav ul li:last-child {
        margin-left: auto;
    }
}

@media screen and (min-width : 981px) {
    :root {
        --font-size-factor: 1.5;
    }
    body {
        background: rgba(255, 228 ,196 ,1);
    }
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .col:hover {
        background: linear-gradient(rgba(255, 228, 196, 0.5), rgba(255,255,255,0.5) );
    }
    .col {
      width: calc(100% / 3 - 10px);
    }
}

