/* html5 + CSS 3 Template created by madam monorom  http://intensivstation.ch 2017 */

@import url("../font-awesome/css/font-awesome.css");

body {
	background-color: #ccc;
	font-size: 1em;
	font-family: Arial, SunSans-Regular, Sans-Serif;
	color: #564b47;
	padding:0;
	margin:0;
}
a,
a:visited {
	color: #999;
	text-decoration: none;
}
a:hover {
	color: #ccc;
}
a:active {
	color: #000000;
}
h1, h2, h3, h4 {
	font-weight: normal;
	margin: 0 0 10px;
}

/* ----------header for logo-------------- */

header {
	padding: 20px;
}
header p {
	text-transform: uppercase;
	font-size: 12px;
}
header img {
	padding: 5px 5px 5px 0;
    height: 35px;
    vertical-align: bottom;
    color: #999;
}

/* -------------- navigavtion------------- */

nav {
    background: rgba(86,75,71, 0.7);
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav a {
	display: block;
	color: #fff;
	padding: 10px 20px 10px 30px;
}
nav a:visited {
	color: #fff;
}
nav a:hover {
	background: #f56;
    color: #fff;
}

nav li {
    position: relative;
}

nav li:before {
    position: absolute;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1.3em;
    left: 5px;
    top: 10px;
    margin-left: auto;
    margin-right: auto;
}

nav li:nth-child(1):before {
    content: '\f015';
}

nav li:nth-child(2):before {
    content: '\f135';
}

nav li:nth-child(3):before {
    content: '\f129';
}

nav li:hover:after {
    position: absolute;
    right: 10px;
    top: 10px;
    font-family: FontAwesome;
    font-size: 1.5em;
    content: '\f105';
}

/* ----------------- content--------------------- */

#content {
	padding: 50px 20px;
	background-color: #fff;
}
p {
	padding: 0 0 20px;
	line-height: 1.8em;
}
ul {
	line-height: 1.8em;
    padding: 0 0 0 20px;
}

.col {
    padding: 10px;
}

.col:nth-child(2n+1) {
    border: 1px solid gray;
}

.col:nth-child(2n) {
    border: 1px solid red;
}

#content > section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#content > section > div {
    box-sizing: border-box;
    min-width: 15em;
    margin-bottom: 10px;
    flex-grow: 0;
    width: calc(1/3*100% - (2/3) * 10px);
}

@media screen and (max-width : 981px) {
    #content > section > div {
      width: calc(1/2*100% - (1/2) * 10px);
    }
}

@media screen and (max-width : 601px) {
    #content > section > div {
      width: 100%;
    }
}


/* -------------- side infos ------------- */

aside {
	padding: 20px;
    background: rgba(155,155,155, 0.2);
}

/* -----------footer--------------------------- */

footer {
	padding: 20px;
    background: rgba(86,75,71, 0.8);
	color: #fff;
}
footer a {
	color: #999;
	text-decoration: none;
}

/* --- media queries --- */

@media screen and (min-width : 601px) {
    body {
        background-color: aliceblue;
    }
}

@media screen and (min-width : 981px) {
    body {
        background-color: bisque;
    }
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

